#header{
    width:100%;
    height:auto;
    border:2px solid red;
    display: flex;
    justify-content: space-between;
    padding-left:5%;
    padding-right:5%;

}

#logo{
    font-size:1.5em;
}


/* 
div{
    border:2px solid blue;
} */